body {
	background-color: #FFF;
}
header {
	height: 37.33px;
	background-color: #F2F2F2;
	overflow: hidden;
	padding: 0 8.889px;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	color: #666;
}
header div {
	margin-top: 18.665px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
header .left {
	width: 19.55px;
	height: 19.55px;
	background: url(../upload/left.png) center no-repeat;
	background-size: 19.55px 19.55px;
}
header .right {
	width: 19.55px;
	height: 20px;
	font-size: 14px;
	opacity: 0.6;
}
.nologin {
	height: 46.22px;
	padding: 0 24.889px 0 14.222px;
	box-sizing: border-box;
}

.nologin span:first-child {
	font-size: 14px;
    color: rgba(0,0,0,.87);
    float: left;
    margin-top: 15px;
}
.nologin span:last-child {
	font-size: 14px;
    color: rgba(0,0,0,.54);
    float: right;
    margin-top: 16px;
    font-size: 12px;
    position: relative;
    margin-right: 5px;
}
.nologin span:last-child:after {
	content: "";
    position: absolute;
    right: -12px;
    top: 50%;
    width: 8.71px;
    height: 8.71px;
    border-left: 1px solid currentColor;
    border-top: 1px solid currentColor;
    transform: translate3d(0,-50%,0) rotateZ(135deg);
    -webkit-transform: translate3d(0,-50%,0) rotateZ(135deg);
}
.noitems {
	height: 46.22px;
	background-color: #F2F2F2;
}
.noitems a {
	display: flex;
	justify-content: center;
}
.noitems span:first-child {
	display: block;
	width: 133.77px;
	height: 35px;
	padding-left: 45px;
	box-sizing: border-box;
	line-height: 35px;
    background: url(../upload/shoppingcar.png) no-repeat 0 center;
    background-size: auto 100%;
    color: rgba(0,0,0,.27);
    font-size: 12px;
}
.noitems span:last-child {
	display: block;
	width: 59.31px;
	height: 22.22px;
	border: 1px solid rgba(0,0,0,.15);
    line-height: 22.22px;
    text-align: center;
    color: rgba(0,0,0,.87);
    margin-top: 8px;
    font-size: 12px;
}
.groom  {
	margin-bottom: 60px;
}
h3 {
	height: 35.55px;
	line-height: 35.55px;
	font-size: 12px;
	font-weight: normal;
	text-indent: 14.22px;
}
.groom li {
	float: left;
	width: 49.5%;
}
.groom li:nth-child(odd) {
	margin-right: 1%;
}
.groom li p {
	margin-left: 10px;
}
.groom li p:nth-child(2) {
	font-size: 12px;
    color: rgba(0,0,0,.87);
    white-space: nowrap;
    overflow: hidden;
    margin-top: 8px;
}
.groom li p:nth-child(3) {
	font-size: 14px;
    color: #ff6000;
    margin-top: 5px;
    margin-bottom: 5px;
}
.groom li p:nth-child(3) del {
	color: rgba(0,0,0,.6);
}








footer {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #FFF;
	z-index: 9999;
}
footer ul {
	display: flex;
}
footer ul li {
	flex: 1;
	text-align: center;
}
footer ul li a {
	font-size: 13px;
    color: #999;
    padding-top: 5px;
}
footer ul li div {
	margin: 2px auto;
	width: 17.77px;
	height: 17.77px;
	background-image: url(../images/footer.png);
	background-size: 17.77px 142.16px;
}
footer ul li:nth-child(1) div {
	background-position-y:-124px; 
}
footer ul li:nth-child(2) div {
	background-position-y:-160px; 
}
footer ul li:nth-child(3) div {
	background-position-y:-35px; 
}
footer ul li:nth-child(3) p {
	color: #f37d0f;
}
footer ul li:nth-child(4) div {
	background-position-y:-89px; 
}